apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 79.1.1
    chart: kube-prometheus-stack
    helm:
      values: |
        crds:
          enabled: true
          upgradeJob:
            enabled: true
            forceConflicts: true

        grafana:
          service:
            type: LoadBalancer
          adminUser: admin
          grafana.ini:
            database:
              type: postgres
              host: 192.168.1.3:5432  # Use the service name of the PostgreSQL instance
              name: grafana
              user: grafana
              password: $__file{/etc/secrets/password}  # Securely fetches password from file

          extraSecretMounts:
            - name: grafana-db-secret
              secretName: grafana-rw  # Use the existing secret
              mountPath: /etc/secrets
              readOnly: true

        prometheusOperator:
          annotations:
            argocd.argoproj.io/hook: PreSync
            argocd.argoproj.io/hook-delete-policy: HookSucceeded
        prometheus:
          service:
            type: LoadBalancer
          enableOTLPReciever: true
          prometheusSpec:
            enableOTLPReceiver: true
            ruleSelectorNilUsesHelmValues: false
            serviceMonitorSelectorNilUsesHelmValues: false
            podMonitorSelectorNilUsesHelmValues: false
            probeSelectorNilUsesHelmValues: false
            enableRemoteWriteReceiver: true
            storage:
              tsdb:
                out_of_order_time_window: 30m

            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: synostorage
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: 30Gi


  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    syncOptions:
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true
